body {
    font-size: 18px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4F9437;
  color: white;
}

#logo {
  display: inline;
  margin: 15px; 
  float: right;
  height: 60px;
  width: auto; 
  border-radius: 50%; 
}

.hero-container {
    position: relative; 
    text-align: center;
    color: white;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #4F9437;
}

hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #4F9437;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #4F9437; 
}
nav li{
    padding-left: 30px;
}

nav li a {
    text-decoration: none;
    color: #24047C;
}

nav li a:hover {
    color: white;
}

main {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    border: #ADADAD;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.portrait {
  display: block;
  margin: auto;
  width: 100%;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.5em;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

input, textarea {
    font-size: 0.89em;
    width: 100%;
    border: 1px solid #ccc;
}

input {
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 10px;
}

form input[type=submit] {
    background-color: #4F9437;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 15px;
    width: 200px;
}

footer {
    padding: 25px 0px;
    text-align: center;
    background-color: black;
    border-top: 8px solid #4F9437;
    color: white;
}

.fa {
    padding: 20px; 
    font-size: 30px; 
    width: 50px; 
    text-align: center; 
    text-decoration: none; 
    margin: 5px 2px; 
    border-radius: 50%; 
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #E1306C; 
    color: white;
}

.fa-youtube {
    background: #bb0000; 
    color: white;
}

@media screen and (max-width: 768px) {
    nav {
        display: block;
    }
    #logo {
        text-align: center;
    }
    nav .nav-items {
        padding: 20px;
        justify-content: center;
    }
    nav .nav-items li {
        padding: 0px 10px;
    }
    .main-content {
        margin: 50px auto;
    }
    .portrait {
        width: 100%;
        margin: 15px auto;
    }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 640px) {
    .portrait {
        max-width: 30%;
        margin: 0 auto;
    }
}




























