nav {
    display: flex;
    border: 1px black;
    padding: 5px
}
nav li {
   padding: 10px;
   border: 1px blue solid;
}
body {
    text-align: center;
    background: green;
}
section {
    display: flex;
    float: right;
}
