nav {
    display: flex;
    background-color: blue;
    border: 1px black;
    padding: 5px
}
nav ul {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 1px blue solid;
}
body {
    text-align: center;
}
section {
    display: flex;
    float: right;
}


