body {
    font-size: 18px;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.nav-wrap {
    background-color: #4F9437;
    border: 2px solid black;
}

nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

nav li{
    padding-left: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: white;
}
